<?xml version="1.0"?>

<root xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="J_PI" value="3.1415926535897931" />

    <xacro:macro name="dobot_armlink" params="link_name link_mesh base_origin_xyz base_origin_rpy">
        <link name="${link_name}">
            <visual>
            	<origin xyz="${base_origin_xyz}" rpy="${base_origin_rpy}" />
                <geometry>
                    <mesh
                        filename="package://dobot_description/meshes/dae/${link_mesh}.dae"/>
                </geometry>
            </visual>

            <collision>
               	<origin xyz="${base_origin_xyz}" rpy="${base_origin_rpy}" />
                <geometry>
                    <mesh
                        filename="package://dobot_description/meshes/dae/${link_mesh}.dae"/>
                </geometry>
            </collision>
      </link>			
		  	
    </xacro:macro>

    <xacro:macro name="dobot_mimiclink" params="link_name base_origin_xyz base_origin_rpy">
        <link name="${link_name}">
            <visual>
            	<origin xyz="${base_origin_xyz}" rpy="${base_origin_rpy}" />
                <geometry>
                        <box size="0 0 0"/>
                </geometry>
            </visual>

            <collision>
               	<origin xyz="${base_origin_xyz}" rpy="${base_origin_rpy}" />
                <geometry>
                        <box size="0 0 0"/>
                </geometry>
            </collision>
      </link>			
		  	
    </xacro:macro>

    <xacro:macro name="dobot_fakelink" params="link_name base_origin_xyz base_origin_rpy">
        <link name="${link_name}">
            <visual>
            	<origin xyz="${base_origin_xyz}" rpy="${base_origin_rpy}" />
                <geometry>
                        <box size="0 0 0"/>
                </geometry>
            </visual>

            <collision>
               	<origin xyz="${base_origin_xyz}" rpy="${base_origin_rpy}" />
                <geometry>
                        <box size="0 0 0"/>
                </geometry>
            </collision>
      </link>			
		  	
    </xacro:macro>

  <xacro:macro name="dobot_armjoint" params="joint_name type parent child joint_axis_xyz joint_origin_xyz joint_origin_rpy joint_lower_limit joint_upper_limit fixed:=false">
    <joint name="${joint_name}" type="${type}">
        <parent link="${parent}"/>
        <child link="${child}"/>
        <axis xyz="${joint_axis_xyz}"/>
        <limit effort="2000" velocity="1" lower="${joint_lower_limit}" upper="${joint_upper_limit}"/>
        <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
        <dynamics damping="0.0" friction="0.0"/>
     </joint>
  </xacro:macro>

  <xacro:macro name="dobot_armjoint_mimic" params="joint_name type parent child joint_axis_xyz joint_origin_xyz joint_origin_rpy joint_lower_limit joint_upper_limit ref_joint fixed:=false">
    <joint name="${joint_name}" type="${type}">
        <parent link="${parent}"/>
        <child link="${child}"/>
        <axis xyz="${joint_axis_xyz}"/>
        <limit effort="2000" velocity="1" lower="${joint_lower_limit}" upper="${joint_upper_limit}"/>
        <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
        <dynamics damping="0.0" friction="0.0"/>
        <mimic joint="${ref_joint}" multiplier="-1" offset="0" />
     </joint>
  </xacro:macro>


    <xacro:macro name="dobot_virtual_link" params="link_name">
        <link name="${link_name}">
            <visual>
                <geometry>
                    <box size = "0 0 0"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size = "0 0 0"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="dobot_virtual_joint" params="joint_name type parent child joint_axis_xyz joint_origin_xyz joint_origin_rpy joint_lower_limit joint_upper_limit">
    <joint name="${joint_name}" type="${type}">
        <parent link="${parent}"/>
        <child link="${child}"/>
        <axis xyz="${joint_axis_xyz}"/>
        <limit effort="2000" velocity="1" lower="${joint_lower_limit}" upper="${joint_upper_limit}"/>
        <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
     </joint>
    </xacro:macro>

    <xacro:macro name="dobot_fixed_joint" params="joint_name parent child joint_origin_xyz joint_origin_rpy">
    <joint name="${joint_name}" type="fixed">
        <parent link="${parent}"/>
        <child link="${child}"/>
        <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
     </joint>
    </xacro:macro>
   
</root>
